name: Build and Push Docker Image

on:
  push:
  pull_request:

jobs:
  publish-container-image:
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: datum-cloud/actions/.github/workflows/publish-docker.yaml@v1.9.0
    with:
      image-name: auth-provider-zitadel
    secrets: inherit

  publish-kustomize-bundles:
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: datum-cloud/actions/.github/workflows/publish-kustomize-bundle.yaml@v1.9.0
    with:
      bundle-name: ghcr.io/datum-cloud/auth-provider-zitadel-kustomize
      bundle-path: config
    secrets: inherit
